*,
::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button,
::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl,
ol,
ul {
  margin: 1em 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container,
.rotated-block {
  display: block;
}

.container {
  background: #4996f6;
  background: linear-gradient(45deg, #4996f6 16%, #308bfc 51%, #ff00cd 100%);
  width: 100%;
  height: 1000px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.rotated-block {
  position: relative;
  z-index: 1;
  width: 130%;
  min-height: 150%;
  background: #FFFFFF;
  transform: rotate(173deg);
  bottom: -70%;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 1em;
}

.content {
  position: absolute;
  top: 35%;
  left: 10%;
}

.search-container:first-child {
  border: 1px solid black;
  border-radius: 15px;
  justify-content: center;
  background-color: transparent;
  height: 45px;
  margin-top: 1em;
  display: flex;
}

nav {
  top: 10px;
  right: 5px;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  height: 35px;
  margin-top: 15px;
}

.search-container {
  height: 80px;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  color: #ffffff;
  font-weight: 900;
  position: relative;
  min-height: 34px;
}

.banner {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5em;
  left: 30px;
}

.first {
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 15px;
}

.first img {
  height: 144px;
  width: 191px;
}

.first svg {
  height: 64px;
  align-items: center;
}

.second {
  display: flex;
  gap: 20px;
}

.second h2 {
  font-size: 48px;
  font-weight: 700;
}

.second p {
  font-size: 20px;
  height: 336px;
}

.second h2,
.second p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.gauche {
  width: 63%;
}

.droite {
  height: 336px;
  background-color: white;
  border-radius: 5px;
  width: 33%;
  display: block;
  padding: 1rem;
}

.droite p,
.spec {
  color: #000000;
  font-size: 12px;
  text-align: left;
}

span {
  color: green;
}

.orange,
.red,
.green {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0 8px 0 0;
}

.bullet {
  display: flex;
  flex-direction: row;
}

.orange {
  background-color: rgba(255, 68, 0, 0.808);
}

.green {
  background-color: rgba(0, 128, 0, 0.733);
}

.red {
  background-color: rgba(255, 0, 0, 0.76);
}

/*# sourceMappingURL=output.css.map */
