* { 
    padding: 0;
    margin: 0; 
}

main {
    display: flex;
    background-color: aliceblue;
    justify-content: center;
}

h1 {
    justify-content: center;
    text-align: center;
    padding: 4em;
    font-style: oblique;
    background: -webkit-linear-gradient(rgb(67, 35, 248), rgba(248, 1, 248, 0.685));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: blue;
}

canvas { 
    background: url('background.jfif');
    display: block; 
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}