body
{
    background-color: black;
    display: flex;
    align-items:center ;
    justify-content: center;
}
h1 {
    color:red;
}

#zombietomb
{
    width:100px;
    height:100px;
    background: url(./zombie.png);
}

.img-hor-vert {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}


#zombietomb2
{
    width:100px;
    height:100px;

    background: url(./zombie.png);
}