@mixin row($size: 0, $gap: 0) {
    gap: $gap;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    &>* {
        background-color: aqua;
        width: 150px;
        height: 150px;
        border-radius: 7px;
    }
}