/* variables */
$color_primary: rgb(203 185 132);

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}
h3 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}