@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*,
::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button,
::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl,
ol,
ul {
  margin: 1em 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  .reveal {
    animation: none !important;
    transition: none !important;
    opacity: 0 !important;
    transform: translateX(0) !important;
  }
}
/* footer */
@media screen and (max-width: 1605px) {
  .contenu-footer {
    display: flex;
    flex-wrap: wrap;
  }

  .verif-logo {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .contenu-footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80%;
  }

  .bloc {
    width: 100% !important;
    padding-left: 30px !important;
  }
}
html {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  height: 75vh;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.banner {
  width: 100vw;
  height: 75vh;
  overflow: hidden;
  background-size: cover;
  top: 0;
  position: absolute;
  z-index: -1;
  filter: blur(3.5px);
  -webkit-filter: blur(3.5px);
  -moz-filter: blur(3.5px);
  -o-filter: blur(3.5px);
  -ms-filter: blur(3.5px);
}

.nav {
  line-height: 10vh;
  position: relative;
  margin-top: 15vh;
}

.nav ul {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav ul li {
  cursor: pointer;
  display: inline-block;
  font-size: 35px;
  margin: 0 25px;
  text-align: center;
}

.nav-item a {
  text-decoration: none;
  transition: 0.7s ease;
}

.nav-item a:hover {
  color: rgba(219, 217, 132, 0.677);
}

.left {
  position: absolute;
  width: 50%;
  height: 100vh;
  background: url(../images/gauche.png);
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 9999;
}

.right {
  position: absolute;
  width: 50%;
  height: 100vh;
  background: url(../images/droite.png), no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  z-index: 9999;
}

header h1,
header h2,
header a {
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1, h2 {
  justify-content: center;
  text-align: center;
}

.hamburger {
  display: none;
  cursor: pointer;
  height: 25px;
}
.hamburger .bar:first-child {
  top: -2px;
}
.hamburger .bar:last-child {
  top: 2px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  margin-right: 1em;
}

.display-none {
  display: none;
}

/* --------------------------responsive-------------------------- */
@media screen and (max-width: 1168px) {
  header {
    height: 10vh;
  }

  .banner,
.left,
.right,
.title h2 {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-item a {
    font-size: 20px;
  }

  .nav-item li {
    height: 2em;
  }

  .nav-menu {
    position: fixed;
    transform: scale(0);
    top: 70px;
    flex-direction: column;
    gap: 0;
    background-color: #cbb984;
    width: 100vw;
    text-align: center;
    transition: 0.3s;
    transform-origin: top right;
  }

  .nav-menu.active {
    transform: scale(1);
    flex-direction: column;
  }

  .navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cbb984;
    top: 0;
    position: fixed;
    margin: auto;
    transition: 0.3s;
    gap: 0;
    flex-direction: row;
    text-align: center;
    z-index: 9999;
  }

  .title h1 {
    font-size: 1em;
    position: fixed;
    top: 0;
    z-index: 10000;
    padding: 1em;
  }
}
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.about {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  gap: 20px;
}
.about img {
  margin-left: 5%;
  border-radius: 80%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.about .aboutUs {
  flex: 1;
  margin-left: 5%;
}
.about .aboutUs h3 {
  width: 100%;
  text-align: left;
  padding-bottom: 20px;
}
.about .aboutUs p {
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: left;
  width: 80%;
}

@media screen and (max-width: 1600px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
  .about img {
    width: 50%;
    margin-left: 5%;
    border-radius: 80%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-bottom: 20px;
  }
  .about .aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about .aboutUs h3 {
    text-align: center;
  }
}
footer {
  background-color: #2c3e50;
  color: #fff;
  width: 100%;
  border-top: 1px solid #000;
  margin-top: 20px;
}

.contenu-footer {
  width: 100%;
  gap: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  padding: 50px 0 100px;
}

/* contact */
.bloc {
  width: 25%;
  margin: 0 30px;
}

.footer-adresses p,
.liste-horaires li {
  padding: 10px 0;
}

.verif-logo {
  position: relative;
  bottom: 0;
  left: 0;
}

.footer-adresses h3,
.footer-contact h3,
.footer-social h3 {
  font-size: 1.5em;
  padding-bottom: 20px;
}

.footer-contact p {
  padding: 10px 0;
}

.liste-social {
  display: flex;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style2.css.map */
