@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); // font-family: 'Poppins', sans-serif;

html {
    width : 100%;
    height: 100%;
    font-family : 'Poppins', sans-serif;
}
body {
    overflow-x: hidden;
}
header {
    height : 75vh;
}
li {
    list-style-type: none;
}
.banner {//
    width: 100vw;
    height : 75vh;
    overflow: hidden;
    background-size: cover;
    top : 0;
    position: absolute;
    z-index: -1;
    filter: blur(3.5px);
    -webkit-filter: blur(3.5px);
    -moz-filter: blur(3.5px);
    -o-filter: blur(3.5px);
    -ms-filter: blur(3.5px);
}

.nav {
    line-height: 30vh;
    position: relative;
}

.nav ul {
    width: fit-content;
    margin: 0 auto;
    padding: 0;
}

.nav ul li {
    cursor : pointer;
    display : inline-block;
    font-size: 35px;
    margin : 0 25px;
    text-align: center;
}


.left {
    position: absolute;
    width: 50%;
    height: 100vh;
    background : url(../images/gauche.png);
    background-size: cover;
    top : 0;
    left : 0;
    z-index: 9999;

}
.right {
    position: absolute;
    width: 50%;
    height: 100vh;
    background : url(../images/droite.png), no-repeat;
    background-size: cover;
    top : 0;
    right : 0;
    z-index: 9999;
}

header h1, 
header h2,
header a {
    color : white;
    text-shadow: 0 0 15px rgba(0,0,0,0.5);
}

h1, h2 { 
    justify-content: center;
    text-align: center;
}


