/* variables */
$color_primary: rgb(203 185 132);
$black: #000000;
$grey: #cccccc;



hr {
    margin: 30px;
}

/* ---------------------- Page d'accueil -------------------------------- */
/* --------------------------carrousel------------------------- */
.main-product {
    padding: 0 30px;
    justify-content: center;
}

.first {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    scroll-behavior: smooth;

    ul {
        display: flex;
        flex-direction: wrap;
        width: 60%;
        height: 100%;
        overflow: hidden;
        border: $color_primary solid 1px;
        border-radius: 15px;
        gap: 30px;
        padding: 1em;
    }
}

.slider div img {
    width: 200px;
    height: 200px;
    border: solid 1px $color_primary;
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    div:nth-child(1) {
        margin-bottom: 30px;
        width: 100%;
        align-items: center;
    }

    h3 {
        margin-top: 2em;
        padding: 0 40px;
        font-family: poppins, sans-serif;
        font-size: 1.5rem;
    }
}

.second:nth-child(1) {
    flex-wrap: wrap;
}


.first-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 30px;
    align-items: center;
}

.first-container img,
.second-container img {
    border: 9px solid $color_primary;
}

button {
    background-color: $color_primary;
    padding: 1em;
    border-style: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0;
}

.content div p {
    margin-bottom: 10px;
}

/* ----------------------------------observer------------------------------------- */

.reveal {
    opacity: 0;
    transform: translateX(300px);
}

.reveal-visible {
    opacity: 1;
    transform: translateX(0);
    transition: 1.5s;
}

.hoverOn {
    display: none;
    transition: all ease-in-out 0.5s;
}

.first-container div a:hover .hoverOut,
.second-container div a:hover .hoverOut {
    display: none;
}

.first-container div a:hover .hoverOn,
.second-container div a:hover .hoverOn {
    display: block;
}


/* --------------------------second container-----------------  */

@mixin product {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin: 0;
    width: 50%;
}

.second-container,
.thrid-container {
    @include product;
}

.second-container div {
    flex: 1 0;
}

.second img {
    width: 400px;
    height: 400px;
}

.second-container .content {
    margin: 0;
    text-align: initial;

    p {
        margin-bottom: 10px;
        width: 80%;
    }
}



/* -------------------------responsive ------------------------ */
@media screen and (min-width: 1605px) {
    .contenu-footer {
        display: flex;
        flex-wrap: wrap;
    }

    .owl-item {
        width: 200px;
    }
}



@media screen and (max-width: 726px) {
    .main-product {
        padding: 0;
    }
}

@media screen and (max-width: 900px) {
    .first {
        display: none !important;
    }

    .first-container div {
        text-align: left !important;
    }

    .second-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 60%;
    }
}

@media screen and (max-width: 1260px) {
    .second h3 {
        text-align: center;
    }

    .first-container {
        width: 60%;
        flex-direction: column;
    }

    .first-container div {
        text-align: left;
    }

    .content {
        width: 100%;
        text-align: initial;

        div {
            text-align: initial;
        }

        button {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 500px) {
    .second div {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
        gap: 10px;

        img {
            width: 320px;
            height: 320px;
        }
    }
}

@media screen and (max-width: 400px) {
    .second div {
        img {
            width: 260px;
            height: 260px;
        }
    }
}


//---------------------------------------------
//-----------------------------------------------
//-------------------------------------------------
//--------------------------- About Page -------------------------
.main-about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}

.title-about {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.about {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    gap: 20px;

    img {
        margin-left: 5%;
        border-radius: 80%;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .aboutUs {
        flex: 1;
        margin-left: 5%;

        h3 {
            width: 100%;
            text-align: left;

            padding-bottom: 20px;
        }

        p {
            font-size: 1.2rem;
            line-height: 2rem;
            text-align: left;
            width: 80%;
        }
    }
}

/* ----------------------- second section --------------------- */

.our-artisans {
    display: flex;
    flex-direction: column;
    width: 80%;

    div:nth-child(1) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        width: auto;

        div {
            width: 500px;
            height: 500px;
            gap: 20px;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                border: $color_primary 9px solid;
            }
        }
    }

    div:nth-child(2) {
        justify-content: center;
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        width: 80%;
        text-align: center;
        padding: 1.5em;
    }
}

@media screen and (max-width: 1600px) {
    .about {
        flex-direction: column;
        align-items: center;

        img {
            width: 50%;
            margin-left: 5%;
            border-radius: 80%;
            box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            margin-bottom: 20px;
        }

        .aboutUs {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                text-align: center;
            }
        }
    }
}

//--------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------
//--------------------------------------------------------------------------------------
//-------------------- Products---------------------------------------------------------
.main-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: center;
    margin: 0 auto;
    font-family: poppins, sans-serif;
}

.flag:nth-child(1) {
    display: flex;
    justify-content: end;
    width: 90%;

    .panier {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 2em;
        width: 100px;
        background: linear-gradient(to right, blue 33%, white 33%, white 66%, red 66%);
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0px 0px 5px 0px $black;

        a {
            text-decoration: none;
            color: black;
            font-weight: 600;

            img {
                width: 25px;
                height: 25px;
            }
        }
    }
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 2em;
    width: 80%;
    background: rgb(246, 148, 1);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: 600;

    a {
        text-decoration: none;
        color: black;
        font-weight: 600;

        img {
            width: 25px;
            height: 25px;
        }
    }
}

.galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;

    div {
        border: 2px solid $color_primary;
        flex-direction: column;
        background-color: rgba(230, 228, 228, 0.472);

        img {
            width: 360px;
            height: 360px;
        }

        .title-price {
            display: flex;
            flex-wrap: wrap;
            border: none;
            flex-direction: row;
            width: 360px;
            justify-content: space-between;
            align-items: center;
        }

        a {
            text-decoration: none;
            color: black;
            font-weight: 600;
            transition: all 0.3s ease;
        }

        p:nth-child(1) {
            width: 60%;
            padding: 0.5em;
        }

        p:nth-child(2) {
            padding-right: 0.5em;
        }
    }

}

//////////////////////////////////////////////////
.hoverOn {
    display: none;
    transition: all ease-in-out 0.5s;
}

.galery div:hover {
    .hoverOut {
        display: none;
    }

    .hoverOn {
        display: block;
    }
}

////////////////////////////////////////////////
@media screen and (max-width: 860px) {

    .main-product {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .galery {
        flex-direction: column;
        margin: 0;
        justify-content: center;

        div {
            img {
                width: 320px;
                height: 320px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .galery {
        div:hover {
            box-shadow:2px 8px 4px 1px rgba(51, 50, 50, 0.3) div {
                background-color: none;
            }
        }

        a:hover {
            color: $color_primary;
        }
    }
}

@media screen and (max-width: 450px) {

    .galery div {
        width: 280px;

        img {
            width: 100%;
            height: 240px;
        }
    }
}