main {
    display: flex;
    flex-direction: column;
    padding : 0 30px;
}


// carousel 
.first {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container {
    display: flex;
    width: 100%;
    justify-content: center;
    scroll-behavior: smooth;
}
.container ul {
    display: flex;
    flex-direction: wrap;
    width: 60%;
    height: 100%;
    overflow: hidden;

    border-radius: 15px;
    gap: 30px;
    padding : 1em;
}
.button-slider {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: rgb(203 185 132);
    color : white;
    font-weight: 900;
    margin-block: auto;
}
.slider div img {
    width: 200px;
    height: 200px;
    border: solid 1px rgb(255, 0, 0);
    border-radius: 15px;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second div:nth-child(1) {
    margin-bottom: 30px;
    width: 100%;
    align-items: center;
}
.second h3 {
    padding : 0 40px;
    text-align: baseline;
    font-family: poppins, sans-serif;
    font-size: 1.5rem;
}

.first-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    gap : 30px;
}
.first-container img {
    border : 9px solid rgb(203 185 132);
}

.content button {
    background-color : rgb(203 185 132);
    padding: 1em;
    border-style: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.content div p {
    margin-bottom: 10px;
}