main {
    display: flex;
    flex-direction: column;
    padding : 0 30px;
}


/* --------------------------carrousel------------------------- */
.first {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container {
    display: flex;
    width: 100%;
    justify-content: center;
    scroll-behavior: smooth;
}
.container ul {
    display: flex;
    flex-direction: wrap;
    width: 60%;
    height: 100%;
    overflow: hidden;
    border: rgba(203, 185, 132, 0.55) solid 1px;

    border-radius: 15px;
    gap: 30px;
    padding : 1em;
}
.button-slider {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: rgb(203 185 132);
    color : white;
    font-weight: 900;
    margin-block: auto;
}
.slider div img {
    width: 200px;
    height: 200px;
    border: solid 1px rgba(209, 198, 198, 0.505);
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}






.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 30px;
}
.second div:nth-child(1) {
    margin-bottom: 30px;
    width: 100%;
    align-items: center;
}
.second:nth-child(1) {
    flex-wrap: wrap;
}
.second h3 {
    margin-top: 2em;
    padding : 0 40px;
    font-family: poppins, sans-serif;
    font-size: 1.5rem;
}

.first-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    gap : 30px;
}
.first-container img,
.second-container img {
    border : 9px solid rgb(203 185 132);
}
button {
    background-color: rgb(203 185 132);
    padding: 1em;
    border-style: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    margin-top : 2em;
    margin-bottom: 0;
}

.content div p {
    margin-bottom: 10px;
}

/* --------------------------second container-----------------  */


@mixin product {
    display: flex;
    flex-direction: row;
    gap : 20px;
    justify-content: center;
    text-align: center;
    margin : 0;
    width: 80%;
}


.second-container,
.thrid-container {
    @include product;
}
.second-container div {
    flex: 1 0;
}

.second img {
    width: 400px;
    height: 400px;
}
.second-container .content{
    margin : 0; 
    justify-content: center;
    text-align: -webkit-center;
}
.content p {
    margin-bottom: 10px;
    width: 80%;
}








/* -------------------------responsive ------------------------ */


@media screen and (max-width: 726px) {
    main {
        padding: 0;
    }
    .first-container img {
        width: 80%;
    }
}


@media screen and (max-width: 900px) {
    .first {
    display: none !important;
}
}

@media screen and (max-width: 1168px) {
    .second h3 {
    text-align: center;
    }
    .first-container {
        flex-direction: column;
        gap : 0;
        justify-content: center;
        align-items: center;
    }
    .first-container div {
        text-align: center;
    }
    
    .content {
        width: 80%;
    }
    .content div {
        text-align: initial;
    }
    .content button {
        justify-content: center;
    }
}