/* variables */
$color_primary: rgb(203 185 132);

main {
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
    margin: 0 auto;
}
.galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    div {     
        border : 9px solid $color_primary;
    img {
            width: 380px;
            height: 380px;
            }
        }  
    }








@media screen and (max-width: 1410px) {
    main {
        width: 100%;
    }
    .galery {
        flex-direction: column;
        margin: 0;
        justify-content: center;
        div {
            width: 100%;
            img {
                width: 320px;
                height: 320px;
                }
        }
    }
}