/* variables */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
$color_primary: rgb(203 185 132);

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    align-items: center;
    margin: 0 auto;
    font-family: poppins, sans-serif;
}