@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* variables */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
*,
::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button,
::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl,
ol,
ul {
  margin: 1em 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* --------------------- variables ------------------- */
/* ------------------------------ General --------------------------------- */
html {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  height: 75vh;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.banner {
  width: 100vw;
  height: 75vh;
  overflow: hidden;
  background-size: cover;
  top: 0;
  position: absolute;
  z-index: -1;
  filter: blur(3.5px);
  -webkit-filter: blur(3.5px);
  -moz-filter: blur(3.5px);
  -o-filter: blur(3.5px);
  -ms-filter: blur(3.5px);
}

.nav {
  line-height: 10vh;
  position: relative;
  margin-top: 15vh;
}
.nav ul {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav ul li {
  cursor: pointer;
  display: inline-block;
  font-size: 35px;
  margin: 0 25px;
  text-align: center;
}

.nav-item a {
  text-decoration: none;
  transition: 0.7s ease;
}

.nav-item a:hover {
  color: rgba(219, 217, 132, 0.677);
}

header h1,
header h2,
header a {
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1, h2 {
  justify-content: center;
  text-align: center;
}

.hamburger {
  display: none;
  cursor: pointer;
  height: 25px;
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
  margin-right: 1em;
}
.hamburger .bar:first-child {
  top: -2px;
  background-color: blue;
}
.hamburger .bar:last-child {
  top: 2px;
  background-color: red;
}

.display-none {
  display: none;
}

/* --------------------------responsive-------------------------- */
@media screen and (max-width: 1168px) {
  header {
    height: 10vh;
  }

  .banner,
.left,
.right,
.title h2 {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-item a {
    font-size: 20px;
  }

  .nav-item li {
    height: 2em;
  }

  .nav-menu {
    position: fixed;
    transform: scale(0);
    top: 70px;
    flex-direction: column;
    gap: 0;
    background-color: #cbb984;
    width: 100vw;
    text-align: center;
    transition: 0.3s;
    transform-origin: top right;
  }

  .nav-menu.active {
    transform: scale(1);
    flex-direction: column;
  }

  .navbar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cbb984;
    top: 0;
    position: fixed;
    margin: auto;
    transition: 0.3s;
    gap: 0;
    flex-direction: row;
    text-align: center;
    z-index: 9999;
  }

  .title h1 {
    font-size: 1em;
    position: fixed;
    top: 0;
    z-index: 10000;
    padding: 1em;
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  align-items: center;
  margin: 0 auto;
  font-family: poppins, sans-serif;
}

section:nth-child(1) {
  display: flex;
  justify-content: end;
  width: 90%;
}
section:nth-child(1) .panier {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 2em;
  width: 100px;
  background: linear-gradient(to right, blue 33%, white 33%, white 66%, red 66%);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
section:nth-child(1) .panier a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
section:nth-child(1) .panier a img {
  width: 25px;
  height: 25px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 2em;
  width: 80%;
  background: #f69401;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 600;
}
.filter a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.filter a img {
  width: 25px;
  height: 25px;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.galery div {
  border: 2px solid #cbb984;
  flex-direction: column;
  background-color: rgba(230, 228, 228, 0.472);
}
.galery div img {
  width: 360px;
  height: 360px;
}
.galery div .title-price {
  display: flex;
  flex-wrap: wrap;
  border: none;
  flex-direction: row;
  width: 360px;
  justify-content: space-between;
  align-items: center;
}
.galery div a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: all 0.3s ease;
}
.galery div p:nth-child(1) {
  width: 60%;
  padding: 0.5em;
}
.galery div p:nth-child(2) {
  padding-right: 0.5em;
}

.hoverOn {
  display: none;
  transition: all ease-in-out 0.5s;
}

.galery div:hover .hoverOut {
  display: none;
}
.galery div:hover .hoverOn {
  display: block;
}

@media screen and (max-width: 860px) {
  main {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .galery {
    flex-direction: column;
    margin: 0;
    justify-content: center;
  }
  .galery div img {
    width: 320px;
    height: 320px;
  }
}
@media screen and (min-width: 1024px) {
  .galery div:hover {
    box-shadow: 2px 8px 4px 1px rgba(51, 50, 50, 0.3) div;
    box-shadow-background-color: none;
  }
  .galery a:hover {
    color: #cbb984;
  }
}
@media screen and (max-width: 450px) {
  .galery div {
    width: 280px;
  }
  .galery div img {
    width: 100%;
    height: 240px;
  }
}
@media (prefers-reduced-motion: reduce) {
  .reveal {
    animation: none !important;
    transition: none !important;
    opacity: 0 !important;
    transform: translateX(0) !important;
  }
}
/* footer */
@media screen and (max-width: 1605px) {
  .contenu-footer {
    display: flex;
    flex-wrap: wrap;
  }

  .verif-logo {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .contenu-footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80%;
  }

  .bloc {
    width: 100% !important;
    padding-left: 30px !important;
  }
}
footer {
  background-color: #2c3e50;
  color: #fff;
  width: 100%;
  border-top: 1px solid #000;
  margin-top: 20px;
}

.contenu-footer {
  width: 100%;
  gap: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 18px;
  padding: 50px 0 100px;
}

/* contact */
.bloc {
  width: 25%;
  margin: 0 30px;
}

.footer-adresses p,
.liste-horaires li {
  padding: 10px 0;
}

.footer-adresses h3,
.footer-contact h3,
.footer-social h3 {
  font-size: 1.5em;
  padding-bottom: 20px;
}

.footer-contact p {
  padding: 10px 0;
}

.liste-social {
  display: flex;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style4.css.map */
